<nav class="navbar navbar-expand-md bg-body-light       border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">
          <span class="translatable" data-en="Explore" data-ja="探検">Explore</span>
        </a>
      </div>

      <!-- search bar  -->
      <div class="navbar-nav ms-auto ">
        <form class="d-flex" role="search" action="/listings" method="GET">
          <select class="form-select me-2" name="country" style="max-width: 180px;">
            <option value="">All Countries</option>
            <option value="Japan">Japan</option>
            <option value="India">India</option>
            <option value="USA">USA</option>
            <option value="France">France</option>
            <!-- Add more countries as needed -->
          </select>
          <input class="form-control me-2 search-inp" type="search" name="search" placeholder="Search destinations" />

          <button class="btn search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
      </div>

      <div class="navbar-nav ms-auto align-items-center">
        <a class="nav-link" href="/listings/new">
          <span class="translatable" data-en="Airbnb your home" data-ja="自宅をAirbnbに登録">Airbnb your home</span>
        </a>
        <% if (!currentUser) { %>
          <a class="nav-link" href="/signup"><b><span class="translatable" data-en="Sign up" data-ja="サインアップ">Sign up</span></b></a>
          <a class="nav-link" href="/login"><b><span class="translatable" data-en="Log in" data-ja="ログイン">Log in</span></b></a>
        <% } %>
        <% if (currentUser) { %>
          <a class="nav-link" href="/logout"><b><span class="translatable" data-en="Log out" data-ja="ログアウト">Log out</span></b></a>
        <% } %>



        <!-- Language Toggle Dropdown -->
        <div class="dropdown ms-2">
          <button class="btn btn-outline-primary btn-sm dropdown-toggle d-flex align-items-center" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-language me-1"></i>
            <span id="current-lang-label">
              <span class="translatable" data-en="English" data-ja="日本語">English</span>
            </span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
            <li><a class="dropdown-item lang-option" href="#" data-lang="en">English</a></li>
            <li><a class="dropdown-item lang-option" href="#" data-lang="ja">日本語</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>